.Application {

	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	overflow-x: hidden;


	.content {
		height: 100%;
		width: 100%;
	}


	.Drawer {
		height: 100%;
	}
}


