.Test {
	margin-top: 1rem;
	display: flex;
	width: fit-content;
	flex-direction: column;

	* > {
		margin-bottom: 2rem;
	}

	.divider {
		margin-bottom: 1rem;
	}

	> button {
		margin-right: 2rem;
	}

	.action-btn {
		width: 10rem;
	}

	.Frontend .MuiFormControlLabel-label,
	.Backend .MuiFormControlLabel-label {
		color: currentColor;
		transform: translateY(-7px) scale(0.75);
	}

}
